body {
    text-align: center;
   
}
.btn {
    height: 120px;
    width: 120px;
    border: 4px solid black;
    border-radius: 20%;
    margin: 2rem;

}
.container {
    display: flex;
   justify-content: center;
}
.red {
  background-color: #d95980 ;
}
.green {
  background: #63aac0;
}
.yellow {
  background: #f99b45;
}
.purple {
   background: #819FF9;
}
.flash {
  background-color: white;
}
.userflash {
  background-color: green;
}